spring.application.name=resume-builder

# MongoDB
spring.data.mongodb.uri=mongodb://localhost:27017/resumebuilder_db

# Email (Brevo API)
brevo.api.key=BREVO_API_KEY
app.email.from=EMAIL

# App URL
app.base.url=http://localhost:8080

# Cloudinary
cloudinary.cloud-name=CLOUDINARY_NAME
cloudinary.api-key=CLOUDINARY_API_KEY
cloudinary.api-secret=CLOUDINARY_API_SECRET

# JWT
jwt.secret=LONG_SECRET_KEY
jwt.expiration=604800000

# Stripe
stripe.secret.key=sk_test_SECRET_KEY
stripe.webhook.secret=whsec_WEBHOOK_SECRET